.ManpowerInputMP{
    margin: 20px;
    padding: 4px;
}
.ManpowerMain{
    padding: 30px;
}

.ReadMoreButton{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px;  
}