div div h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* .main{
    margin-top: 40px;
    margin-bottom: 20px;
} */
.card{
    gap: 35px;
}
img{
    padding-left: 30px;
    border-radius: 15px;
}

.card p{
    text-align: center;
    /* flex-shrink: inhe; */
    padding: 50px;
    font-weight: 550;
    font-size: medium;
    background :blur;
}

.button i{
    color: black;
    height: 10px;
    width: 10px;
}
.button{
    padding: 6px;
    padding-left: 20px;
  
    
}
.button:hover{
    background:rgb(192, 192, 192);
}

