.custom-infinity-container {
    overflow: hidden;
    margin: 2rem 1rem;
    padding: 1rem 0;
  }
  
  .custom-infinity-track {
    display: flex;
    width: max-content;
  }
  
  .custom-infinity-item {
    flex: 0 0 auto;
    margin: 0 1rem;
  }
  .infinity-Slider-heading{
        margin-bottom: 40px;
        font-size: 2.4rem;

  }